@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Macondo&family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: rgb(100, 102, 237);
}

h1::selection,p::selection,strong::selection,a::selection {
  color: white;
}

body {
  font-family: 'Poppins', cursive;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
